<section id="cta7" class="cta cta-7 bg-overlay bg-overlay-theme2 text--center">
	<div class="bg-section">
			<img src="assets/images/demo/construction/13.jpg" alt="Background"/>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<p>Choose a plan that is custom for you</p>
				<h3>Work With Us Now!</h3>
				<a class="btn btn--white" href="#">Purchase Now</a>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #cta7 end -->