<section id="page-title" class="page-title bg-overlay bg-overlay-dark3">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/Scrolling-iPhone-XR/poster/Scrolling-iPhone-XR.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/Scrolling-iPhone-XR/poster/Scrolling-iPhone-XR.jpg" | relative_url }}">
                  <source src="{{ "/assets/Scrolling-iPhone-XR/MP4/Scrolling-iPhone-XR.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                  <source src="{{ "/assets/Working-Space/WEBM/Working-Space.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Free Consultation</h1>
						</div>
						<div class="title--desc">
							<p>Make sure to reach out and ask questions about our services and products. We are also available 24/7 for support. 
							</p>

							<br>
							<br>
							<br>
						</div>

												</div>
					<ol class="breadcrumb">
						<li><a href="https://www.latindigital.io">Home</a></li>
						<li class="active">Contact</li>
					</ol>

					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
				<center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->
<section id="contact3" class="contact contact-3 bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="heading heading-2 mb-60">
					<p class="heading--subtitle">Contact Us</p>
					<h2 class="heading--title">Get in Touch</h2>
					<div class="divider--line m-0">
					</div>
					<p class="heading--desc mt-20">We are excited to speak with you and build cool digital products. If you want to reach out to us directly fill the form with a description of what you need and we will get back to you ASAP. </p>
				</div>
				<div class=" clearfix"></div>
				<div class="row mb-50">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="contact--info">
							<h3>Our Address</h3>
							<p>600 Congress Ave</p>
							<p>Austin Texas</p>
							<a class="contact-action" href="https://www.google.com/maps/dir/30.2707569,-97.7535588/WeWork,+600+Congress+Ave,+Austin,+TX+78701/@30.2709968,-97.7524099,16z/data=!3m1!4b1!4m17!1m6!3m5!1s0x8644b509c0706f9d:0xb5c171e36a8626a6!2sWeWork!8m2!3d30.2685842!4d-97.7433269!4m9!1m1!4e1!1m5!1m1!1s0x8644b509c0706f9d:0xb5c171e36a8626a6!2m2!1d-97.7433269!2d30.2685842!3e0">Directions</a>
						</div>
					</div><!-- .col-md-6 end -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="contact--info">
							<h3>Our Phone</h3>
							<p>Office Telephone : 5126439273</p>
							<a class="contact-action" href="tel:512-643-9273">Call Us</a>
						</div>
					</div><!-- .col-md-6 end -->
				</div><!-- .row end -->
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="contact--info">
							<h3>Our Email</h3>
							<p>Main Email : sales@latindigital.io</p>
							<a class="contact-action" href="mailto:sales@latindigital.io">Open a Ticket</a>
						</div>
					</div><!-- .col-md-6 end -->
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="contact--info">
							<h3>Our Support</h3>
							<p>Support : sales@latindigital.io</p>
							<a class="contact-action" href="mailto:sales@latindigital.io">Send a Message</a>
						</div>
					</div><!-- .col-md-6 end -->
				</div>
			</div><!-- .col-md-6 end -->
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="heading heading-2 mb-60">
					<p class="heading--subtitle">Feel Free</p>
					<h2 class="heading--title">Write To Us</h2>
					<div class="divider--line m-0">
					</div>
				</div>
				<div class=" clearfix"></div>

				<form action="https://formspree.io/alejandro@latindigital.io" method="POST" />

				<div class="contact-form">
					<form class="mb-0">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="form-control" name="contact-name" id="name" aria-label="First Name" placeholder="First Name:" required>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control" name="contact-namel" id="name-last" aria-label="Last Name" placeholder="Last Name:" required>
							</div>
							<div class="col-md-6">
								<input type="email" class="form-control" name="contact-email" id="email" aria-label="Email" placeholder="Email:" required>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control" name="contact-phone" id="phone" aria-label="Phone" placeholder="Phone:" required>
							</div>
							<div class="col-md-12">
								<textarea class="form-control" name="contact-message" id="message" rows="2" aria-label="Message" placeholder="Message" required></textarea>
							</div>
							<div class="col-md-12">
								<input type="submit" value="Send Message" name="submit" class="btn btn--secondary btn--block">
							</div>
						</div>
					</form>
				</div>
			</div><!-- .col-md-6 end -->
		</div>
	</div>
</section>

<style>

  @media only screen and (max-width: 600px) {

.page-title{
  display:none;
}

.bg-white {
    background-color: #fff!important;
    text-align: center;
}

.navbar-toggle {
    border-color: black;
    border-radius: 0;
    margin-top: 35px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}


}

 body{background-color:#ffffff; overflow:hidden;}

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}</style>

