
    <style>
       #map {
        height:650px;
        width: 100%;
       }

       .contact-row{
   	    margin-top: -422px;
    		position: relative;
    		z-index: 99;
       }

	.contact-panel {
	    text-align: center;
	    padding: 30px 30px;

	}
    </style>

<section id="contact" class="contact pb-0 pt-0">
	<div class="container-fluid pr-0 pl-0">
		<div class="row">
			<div class="col-xs-12  col-sm-12  col-md-12 pr-0 pl-0">
    <div id="map"></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row contact-row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="heading heading-6 text--center mb-70">
					<p class="heading--subtitle text-black"></p>
					<h4 class="heading--title  text-grey" style="margin-bottom:104px; color:#333;">Contact Us</h4>
				</div>
			</div><!-- .col-md-8 end -->
			<div class="clearfix"></div>
			<!-- Contact Panel #1 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-map-marker"></i>
				<h3>Our Address</h3>
				<p>600 Congress Ave,<br> Austin, TX 78701
				</p>
				<a class="contact-action" href="https://www.google.com/maps/dir/30.2707569,-97.7535588/WeWork,+600+Congress+Ave,+Austin,+TX+78701/@30.2709968,-97.7524099,16z/data=!3m1!4b1!4m17!1m6!3m5!1s0x8644b509c0706f9d:0xb5c171e36a8626a6!2sWeWork!8m2!3d30.2685842!4d-97.7433269!4m9!1m1!4e1!1m5!1m1!1s0x8644b509c0706f9d:0xb5c171e36a8626a6!2m2!1d-97.7433269!2d30.2685842!3e0">Directions</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #2 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-phone"></i>
				<h3>Our Phone</h3>
				<p>Office Telephone: <br>  512-709-7014 </p>
				<a class="contact-action" href="tel:512-709-7014">Call Us</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #3 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-envelope"></i>
				<h3>Our Email</h3>
				<p>Main Email : <br> alejandro@latindigital.io </p>
				<a class="contact-action" href="mailto:alejandro@latindigital.io">Send a Message</a>
			</div><!-- .col-md-4 end -->
			<!-- Contact Panel #4 -->
			<div class="col-xs-12 col-sm-6 col-md-3 contact-panel">
				<i class="fa fa-users"></i>
				<h3>Our Support</h3>
				<p>Support : <br> sales@latindigital.io </p>
				<a class="contact-action" href="mailto:alejandro@latindigital.io">Open a Ticket</a>
			</div><!-- .col-md-4 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
			
			<!-- Contact Panel #4 -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #contact end -->

    <script>
      function initMap() {
        setTimeout(function(){
	        var uluru = {lat: 30.267153, lng: -97.743061};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 10,
	          center: uluru
	        });
	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
		},10*1000);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrfqxnEuRipCDCjiYgF4LJ4CyfFn4r2kw&callback=initMap">
    </script>
