    <head>

      <meta charset="utf-8">
	  <title>Latin Digital - Alejandro Diez</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--IE Compatibility Meta-->
      <meta name="author" content="zytheme"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Latin Digital - Alejandro Diez">
      <meta name="keywords" content="Product Development Digital Marketing UX UI">
      <link href="{{ "assets/images/favicon/favicon.png" | relative_url }}" rel="icon">


      <!-- G-Suite Metatag -->
      <meta name="google-site-verification" content="lGL0ars_GTR5x6kkKBeqdPhl6SPVgoPXt7yaTAWJIok" />
      <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script-->

	  <!-- https://developers.google.com/web/fundamentals/performance/resource-prioritization#preconnect -->
	  <link rel="preconnect" href="https://translate.googleapis.com">
	  <link rel="dns-prefetch" href="https://translate.googleapis.com">


      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118145960-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118145960-1');
      </script>
	  <!--link rel="preload" href="../fonts/fontawesome-webfont.woff2?v=4.6.3" as="style" /-->
	  <script type="text/javascript">
		  function deferImages(node, alwaysRecheck) {
		  		document.addEventListener("DOMContentLoaded", function(event) {
		  			var loaded = false;
		  			check();
		  			function load() {
		  				loaded = true;
		  				Array.from(node.querySelectorAll('img[data-src]')).forEach(node=>{
		  					node.src = node.getAttribute("data-src");
							node.removeAttribute("data-src");
		  				})
		  			}
		  			function check() {
		  				if (loaded && !alwaysRecheck) return;
		  				if (checkViewport()) {
		  					load();
		  				}
		  				setTimeout(check, 50);
		  			}
		  			function checkViewport() {
		  				var topOfViewport = Math.floor(node.getBoundingClientRect().top);
		  				var viewportHeight = Math.floor(Math.min(
		  					document.body.clientHeight || 0,
		  					document.documentElement.clientHeight || 0
		  				));
		  				if (viewportHeight<500) viewportHeight = 500;
		  				return topOfViewport < viewportHeight;
		  			}
		  		});
		  }

	  </script>

    </head>
