
<!--- Hero Section ====================================== -->

<section id="slider" class="slider slider-dark">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/Working-Space/snapshots/Working-Space.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/Working-Space/snapshots/Working-Space.jpg" | relative_url }}">
              </video>
        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
          setTimeout(function(){
            document.querySelector('#slider video').innerHTML = `
              <source src="{{ "/assets/Working-Space/MP4/Working-Space.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="{{ "/assets/Working-Space/WEBM/Working-Space.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            `;
          }, 5*1000);
        });
        </script>
              <div class="pos-vertical-center">
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12">
                              <div class="slide-action mb-50"></div>
                              <div id="slide--headline" class="slide--headline text-heading">
                                <span class="typed-text" data-typed-string="Hi there!, Welcome to Latin Digital, We Empower Brands through superior technology, Make your self @ home
                                "> </span>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6">
                              <div id="slide--bio" class="slide--bio text-heading">Design, Build, Outperform </div>
                          </div>
                      </div>



                      <div class="slide-action" style="text-align:center; padding-bottom:30px;">
                        <a class="btn btn--secondary btn--white mr-30" href="{{ "/blog/" | relative_url }}">Learn More<span class="for-readers"> in blog</span></a>
                        <a class="btn btn--white btn--bordered" id="scrollToBottom" href="#">Started</a>   </div>
                  </div>
               
              </div>
<center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
<center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
</section>

<style> body{background-color:#000; overflow:hidden;}

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}</style>

<!-- 
<section id="slider" class="slider slider-dark">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/very-open-space/snapshots/very-open-space.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/very-open-space/snapshots/very-open-space.jpg" | relative_url }}">
                  <source src="{{ "/assets/very-open-space/MP4/very-open-space.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                  <source src="{{ "/assets/very-open-space/WEBM/very-open-space.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>

              <div class="pos-vertical-center">
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12">
                              <div class="slide-action mb-50"></div>
                              <div id="slide--headline" class="slide--headline text-heading">
                                <span class="typed-text" data-typed-string="Hi there!, Welcome to Latin Digital, We Empower Brands through superior technology, Make your self @ home
                                "> </span>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6">
                              <div id="slide--bio" class="slide--bio text-heading">Product Developer, Digital Marketer and Ping Pong Master</div>
                          </div>
                      </div>



                      <div class="slide-action" style="text-align:center; padding-bottom:30px;">
                        <a class="btn btn--secondary btn--white mr-30" href="{{ "/blog/" | relative_url }}">Learn More</a>
                        <a class="btn btn--white btn--bordered" id="scrollToBottom" href="#">Get Started</a>   </div>
                  </div>
              </div>

</section> -->


<!--
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
 -->
