<section id="cover5" class="section cover-5 mtop-100 pt-0 pb-0">
	<div class="container-fluid">
		<div class="row comm-height">
			<div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
				<div class="bg-overlay">
					<div class="bg-section">
						<img src="assets/images/banners/7.jpg" alt="Background"/>
					</div>
				</div>
			</div><!-- .col-md-6 end-->
			<div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
				<h3 class="mt-100">Your Digital Blueprint
				</h3>
				<p> Our process starts out with the discovery phase, this is our chance to analyze your business, your problems and your customers. At the conclusion of Discovery, we know exactly what problems we are trying to solve and a strategy plan outlining our recommended solutions which we call the “Digital Blueprint”. 
				 </p>
				<center><a class="btn btn--primary" href="#">Read More</a></center>
				
			</div>
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>