<section id="page-title" class="page-title bg-overlay bg-overlay-dark3">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/procrastination/Snapshots/procrastination.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/procrastination/Snapshots/procrastination.jpg" | relative_url }}">
                  <source src="{{ "/assets/procrastination/MP4/procrastination.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                  <source src="{{ "/assets/procrastination/WEBM/procrastination.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Web Packages</h1>
						</div>
						<div class="title--desc">
							<p> Find the Package that is right for you, if you can't we will find it.  
							</p>
							<br>
							<br>
							<br>
						</div>
					<ol class="breadcrumb">
						<li><a href="https://www.latindigital.io">Home</a></li>
						<li class="active">Team</li>
					</ol>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>

			<center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->

<section id="pricing1" class="pricing pricing-separated pricing-1">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="heading heading-2 text--center mb-50">
					<p class="heading--subtitle">Lets Work</p>
					<h2 class="heading--title">Web Development Pricing Plans</h2>
					<div class="divider--line divider--center"></div>
				</div>
			</div><!-- .col-md-8 end -->
		</div><!-- .row end -->
		<div class="row">
			<!-- Pricing Packge #1
			============================================= -->
			<div class=" col-xs-12 col-sm-4 col-md-4 price-table">
				<div class="pricing-panel">
					<!--  Pricing heading  -->
					<div class="pricing--heading text--center">
						<h4>Professional Web Development</h4>
						<div class="pricing--heading-bg">
							<p><span class="currency">$</span>1997<span class="time"> / 3 Milestones</span></p>
							<div class="pricing--desc">
								This plan includes Design, Development and QA
							</div>
						</div>
					</div>
					<!--  Pricing body  -->
					<div class="pricing--body">
						<ul class="pricing--list list-unstyled">
							<li>Private Github Repository<li>
							<li>Netlify Hosting Management</li>
							<li>Netlify CMS for Content Management</li>
							<li>Complete Theme License Ownership</li>
							<li>Up to 5 Pages Designed and Developed</li>
							<li>Up to 5 pages of SEO Content</li>
							<li>Up to 3 layout design revisions</li>
							<li>Fully Responsibe Web Design</li>
							<li>Up to 10 High Resolution Optimized Stock Images </li>
							<li>Up to 1 Custom Video</li>
							<li>Chatbot Integration</li>
							<li>One Blog Page</li>
							<li>One Submission Form</li>
							<li>Up to 5 SEO Optimized Blog Posts</li>
							<li>Google analytics and XML sitemap setup</li>
							<li>One Hour Website Walkthrough</li>
							<li>Free 2 hours of maintenance</li>
							<li>4 Week Turnaround</li>

						</ul>
						<a class="btn btn--secondary btn--block" href="https://www.latindigital.io/contact-page.html">Get Started Now</a>
					</div>
					<!--  Pricing Body  -->
				</div>
			</div>
			<!-- .pricing-table End -->
			
			<!-- Pricing Packge #2
			============================================= -->
			<div class=" col-xs-12 col-sm-4 col-md-4 price-table">
				<div class="pricing-panel pricing-active">
					<!--  Pricing heading  -->
					<div class="pricing--heading text--center">
						<h4>Premier Web Development</h4>
						<div class="pricing--heading-bg">
						<p><span class="currency">$</span>4000<span class="time"> / 4 Milestones</span></p>
						<div class="pricing--desc">
							All plans are include , People Search, and A/B Testing Report.
						</div>
						</div>
					</div>
					<!--  Pricing body  -->
					<div class="pricing--body">
						<ul class="pricing--list list-unstyled">
							<li>80-90 Hours of Design & Development</li> 
							<li>Theme Based Design & Development Custom Coded</li> 
							<li>Up to a 4 Page Layout</li>
							<li>Up to a 20 Page Site (But if Data Import is possible, Unlimited Pages)</li>
							<li>Up to 5 Pages of Content Writing</li>
							<li>Up to 20 Stock Images per Site</li>
							<li>Up to 3 Mockup Design Revisions</li>
							<li>Includes a Blog Page</li>
							<li>1 Testimonial / Review Plugin or Extension</li>
							<li>1 Integrated Contact Form</li>
							<li>Up to 2 Embed Videos (Client Provided)</li>
							<li>Mobile Responsive Web Design</li>
							<li>Wireframe & Sitemap Navigation, Mockups, and Framework Setup</li>
							<li>Customized Menu Options</li>
							<li>Content Management Systems</li>
							<li>Title & Page Based SEO</li>
							<li>Social Media Links Integration</li>
							<li>6-9 Week Turnaround Time- Approx.</li>
							<li>Code Validation & Testing<li>
							<li>Netlify Hosting Management</li>
							<li>Netlify CMS for content management</li>
							<li>On page SEO </li>
							<li>SEO Copy</li>
							<li>High resolution optimized stock images</li>
							<li>Chatbot Integration</li>
							<li>Google analytics and XML sitemap setup</li>
							<li>One Hour Website Walkthrough</li>
							<li>Free 2 hours of maintenance</li>
							<li>4 Week Turnaround</li>

						</ul>
						</ul>
						<a class="btn btn--primary btn--block" href="#">Get Started Now</a>
					</div>
					<!--  Pricing Body  -->
				</div>
			</div>
			<!-- Pricing Packge #3
			============================================= -->
			<div class=" col-xs-12 col-sm-4 col-md-4 price-table">
				<div class="pricing-panel">
					<!--  Pricing heading  -->
					<div class="pricing--heading text--center">
						<h4>Advanced Plan</h4>
						<div class="pricing--heading-bg">
						<p><span class="currency">$</span>90<span class="time"> / Monthly</span></p>
						<div class="pricing--desc">
							All plans are include , People Search, and A/B Testing Report.
						</div>
						</div>
					</div>
					<!--  Pricing body  -->
					<div class="pricing--body">
						<ul class="pricing--list list-unstyled">
							<li>Twelve Brand Monitors</li>
							<li>PDF reports</li>
							<li>Full Social Profiles</li>
							<li>PDF reports</li>
							<li>Full Social Profiles</li>
							<li>Basic Quota </li>
						</ul>
						<a class="btn btn--secondary btn--block" href="#">Get Started Now</a>
					</div>
					<!--  Pricing Body  -->
				</div>
			</div>
			<!-- .pricing-table End -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #pricing1 end -->