
<!-- Page Title #5  -->

<section id="page-title" class="page-title bg-overlay bg-overlay-dark3">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/Working-Space/snapshots/Working-Space.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/Working-Space/snapshots/Working-Space.jpg" | relative_url }}">
              </video>
			  <script type="text/javascript">
			  document.addEventListener("DOMContentLoaded", function() {
			  	setTimeout(function(){
			  		document.querySelector('#page-title video').innerHTML = `
			  			<source src="{{ "/assets/Working-Space/MP4/Working-Space.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
			  			<source src="{{ "/assets/Working-Space/WEBM/Working-Space.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			  		`;
			  	}, 5*1000);
			  });
			  </script>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Agency Portfolio</h1>
						</div>
						<div class="title--desc">
							<p>In here you will find projects that I've been part of during my journey as a Web Developer. Some of these would not be possible without the hard work and contribution of many other Designers, Programmers and Program Managers. </p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->





<div class="before-after">
	<div class="before-after-wrapper" draggable="false">
		<div class="before-after-before">
			<img class="before-after-content-image" src="{{ "/assets/images/portfolio/before-after/test-before.jpg" | relative_url }}" draggable="false"/>
		</div>
		<div class="before-after-after">
			<img class="before-after-content-image" src="{{ "/assets/images/portfolio/before-after/test-after.jpg" | relative_url }}" draggable="false"/>
		</div>
		<div class="before-after-scroller">
			<svg class="before-after-scroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="0 50 37 68 37 32 0 50" style="fill:#fff"/><polygon points="100 50 64 32 64 68 100 50" style="fill:#fff"/></svg>
		</div>
	</div>
</div>
<style>
.before-after {
	margin: 50px 0;
}
.before-after *{
	box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.before-after-wrapper{
	width: 900px;
	height: 900px;
	position: relative;
	margin: 0 auto;
	/*
	position: absolute;
	left:50%;
	top:50%;
	transform:translate3d(-50%,-50%,0);
	*/
	overflow:hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Our image information */
.before-after-before,
.before-after-after {
	position: absolute;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-color: white;
	background-size: cover;
	background-position: center;
	top:0;
	left:0;
	pointer-events:none;
	overflow: hidden;
}

.before-after-content-image{
	height:100%;
}

.before-after-after{
	width:125px;
}

.before-after-scroller{
	width: 50px;
	height:50px;
	position: absolute;
	left:100px;
	top:50%;
	transform:translateY(-50%);
	border-radius:50%;
	background-color: transparent;
	opacity:0.9;
	pointer-events:auto;
	cursor: pointer;
}

.before-after-scroller:hover{
	opacity:1;
}

.before-after-scrolling{
	pointer-events:none;
	opacity:1;
	// z-index: 1;
}

.before-after-scroller__thumb{
	width:100%;
	height:100%;
	padding:5px;
}

.before-after-scroller:before,
.before-after-scroller:after{
	content:" ";
	display: block;
	width: 7px;
	height: 9999px;
	position: absolute;
	left: 50%;
	margin-left: -3.5px;
	z-index: 30;
	transition:0.1s;
}
.before-after-scroller:before{
	top:100%;
}
.before-after-scroller:after{
	bottom:100%;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.before-after-scroller{
	border: 5px solid #fff;
}
.before-after-scroller:before,
.before-after-scroller:after{
	background: #fff;
}
</style>
<<script type="text/javascript">
// https://codepen.io/nosurprisethere/pen/xrXjYV
// I hope this over-commenting helps. Let's do this!
// Let's use the 'active' variable to let us know when we're using it
let active = false;

// First we'll have to set up our event listeners
// We want to watch for clicks on our scroller
document.querySelector('.before-after-scroller').addEventListener('mousedown',function(){
	active = true;
	// Add our scrolling class so the scroller has full opacity while active
	document.querySelector('.before-after-scroller').classList.add('scrolling');
});
// We also want to watch the body for changes to the state,
// like moving around and releasing the click
// so let's set up our event listeners
document.body.addEventListener('mouseup',function(){
	active = false;
	document.querySelector('.before-after-scroller').classList.remove('scrolling');
});
document.body.addEventListener('mouseleave',function(){
	active = false;
	document.querySelector('.before-after-scroller').classList.remove('scrolling');
});

// Let's figure out where their mouse is at
document.body.addEventListener('mousemove',function(e){
	if (!active) return;
	// Their mouse is here...
	let x = e.pageX;
	// but we want it relative to our wrapper
	x -= document.querySelector('.before-after-wrapper').getBoundingClientRect().left;
	// Okay let's change our state
	scrollIt(x);
});

// Let's use this function
function scrollIt(x){
	let transform = Math.max(0,(Math.min(x,document.querySelector('.before-after-wrapper').offsetWidth)));
	document.querySelector('.before-after-after').style.width = transform+"px";
	document.querySelector('.before-after-scroller').style.left = transform-25+"px";
}

// Let's set our opening state based off the width,
// we want to show a bit of both images so the user can see what's going on
scrollIt(150);

// And finally let's repeat the process for touch events
// first our middle scroller...
document.querySelector('.before-after-scroller').addEventListener('touchstart',function(){
	active = true;
	document.querySelector('.before-after-scroller').classList.add('scrolling');
});
document.body.addEventListener('touchend',function(){
	active = false;
	document.querySelector('.before-after-scroller').classList.remove('scrolling');
});
document.body.addEventListener('touchcancel',function(){
	active = false;
	document.querySelector('.before-after-scroller').classList.remove('scrolling');
});
</script>





	<!-- Portfolio 3 Column
============================================= -->
<section id="portfolio" class="portfolio portfolio-grid portfolio-3col pt-70 bg-white">
	<div class="container">
		<div class="row">
			<!-- Portfolio Filter
			============================================= -->
			<div class="col-xs-12 col-sm-12 col-md-12 portfolio-filter">
				<ul class="list-inline mb-0">
					<li><a class="active-filter" href="#" data-filter="*">All</a></li>
					<li><a href="#" data-filter=".filter-branding">Campaign</a></li>
					<li><a href="#" data-filter=".filter-packaging">Product</a></li>
					<li><a href="#" data-filter=".filter-print">Full Stack</a></li>
					<li><a href="#" data-filter=".filter-web">Web Development</a></li>
				</ul>
			</div>
			<!-- .Portfolio-filter end -->
		</div>
		<div id="portfolio-all">
			<!-- Portfolio #1 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/1.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
								<a class="img-gallery-item" href="assets/images/portfolio/full/1.jpg" title="Portfolio Item"></a>

								</div>
								<div class="portfolio--title">
									<h4><a href="https://www.clearesult.com/"> Clear Result</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #2 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/2.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/2.jpg" title="Portfolio Item"></a>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.stratatrust.com/">Strata</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #3 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/3.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/3.jpg" title="One of the most ambitious projects I got to be part of was the redesign of Springbox's client website. It required to collaborative effort of all departments within the agency, UX, UI, Analytics, Creative and Development, and a bold approach as to how we wanted to be perceived. The end result was a master piece full stack application built with jekyll and node.js that is today's standard of excellence in Austin Texas.">
									</a>
									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.springbox.com/">Springbox</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

						<!-- Portfolio #4 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/4.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/4.jpg" title="Portfolio Item"></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.zephyrhillswater.com/home">Zephirhills</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #5 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/5.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
										<a class="img-gallery-item" href="assets/images/portfolio/full/5.jpg" title="While working for Springbox Digital Partners I had the opportunity to work on a variety of web applications ranging from clients like Nestle and Tradewinds to Springbox itself. Mainly focused on the front-end working with Javascript, jQuery, Bootstrap, SCSS and also using dependency managers like Gulp, Grunt and Docker container technology for local development. "></a>
										</div>
										<div class="portfolio--title">
									<h4><a href="https://www.polandspring.com/">Poland Springs</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #6 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/6.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
																	<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/6.jpg" title="Portfolio Item"></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.arrowheadwater.com/">Arrowhead</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #7 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/7.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/7.jpg" title="DHMS is one of the leading Military Dental Care Provider in the nation. The DHMS team reached out for a web portal redesign that would better communicate to their customers their Solutions Portfolio. The website redesign was built using Jekyll, an exciting new CMS technology, Sass for styling and AWS for server side management. "></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">US Dental Solutions</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #8 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/8.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
                                    <a class="img-gallery-item" href="assets/images/portfolio/full/" title="Portfolio Item"></a>
                                </div>
                                <div class="portfolio--title">
									<h4><a href="#">Sweet Leaf Tea</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #9 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/9.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
                                    <a class="img-gallery-item" href="assets/images/portfolio/full/9.jpg" title="Portfolio Item"></a>
                                </div>
                                <div class="portfolio--title">
									<h4><a href="https://madison.net/">Madison Industries</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #10 -->
<!-- 			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/10.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/10.jpg" title="As a requirement for a core digital media class at UT Austin, myself and a group of advertising and PR students created a marketing brief with suggestions for the expansion of a popular organic Mexican food joint in Austin TX. The case implied a potential new branch of Taco Deli in Portland Oregon and a thorough assessment of the best options for targeting the Portland market."></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">Taco Deli</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end --> -->

			<!-- Portfolio #11 -->
<!-- 			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/11.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/11.jpg" title="Mellow Johnny's isone of Austin's favorite venues for bikers. Located Down Town it provides a wide range of services to bike enthusiasts from locker rooms to  bike repair and maintenance. My team and I were tasked to create a year long digital ad strategy for attracting customers from different Travis county regions."></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">Mellow Johnny's</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end --> -->

						<!-- Portfolio #12 -->
<!-- 			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/12.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/12.jpg" title="A local startup in Austin called Healthy Dog Gourmet is trying to increase sales through digital presence. Me and a team of ad majors created a comprehensive marketing strategy that would allow for the new brand of organic dog food to reach out to consumers in a cost effective manner through social media, event sponsorship and SEO"></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">Healthy Dog Gourmet</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end --> -->

            <!-- Jekyll loop for assets\images\portfolio\grid\3col -->
            {% for image in site.data.portfolio.images %}

            <!-- Portfolio #xx -->
          <!--   <div class="hiddenItem col-xs-12 col-sm-6 col-md-4 portfolio-item{% if image.filters.size > 1 %}{% for filter in image.filters %} {{ filter | rstrip }}{% endfor %}{% else %} {{ image.filters }}{% endif %}">
                <div class="portfolio--img">
                    <img src="{{ "assets/images/portfolio/grid/3col/more/" | relative_url }}{{ image.filename }}" alt="Portfolio Item">
                    <div class="portfolio--hover">
                        <div class="portfolio--action">
                            <div class="pos-vertical-center">
                                <div class="portfolio--zoom">
                                    <a class="img-gallery-item" href="{{ "assets/images/portfolio/grid/3col/more/"| relative_url }}{{ image.filename }}" title="{{ image.title }}"></a>

                                </div>
                                <div class="portfolio--title">
                                    <h4><a href="#">{{ image.title }}</a></h4>
                                </div>
                                <div class="portfolio--cat">{% for categor in image.cat  %}<a href="#">{{ categor }}</a>{% if forloop.last == false %},{% endif %}{% endfor %}</div>

                            </div>
                        </div>

                    </div>

                </div>

            </div> -->
            <!-- . portfolio-item end -->
            {% endfor %}
        </div>
    </div>

    <!-- .container end -->
</section>
<!-- #portfolio end -->
<!-- <div class="row" id="btn-more">
    <div class="col-xs-12 col-sm-12 col-md-12 text--center mt-30">
        <a class="btn btn--secondary btn--bordered btn-more" href=""><span></span>Load More</a>
    </div>
</div> -->
