

<section id="page-title" class="page-title bg-overlay bg-overlay-dark3">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/Spacious/snapshots/Spacious.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/Spacious/snapshots/Spacious.jpg" | relative_url }}">
                  <source src="{{ "/assets/Spacious/MP4/Spacious.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                  <source src="{{ "/assets/Spacious/WEBM/Spacious.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>See our Work</h1>
						</div>
						<div class="title--desc">
							<p>Our Agency Portfolio includes collaborations with various agencies and previous agency work.
							</p>
							<br>
							<br>
							<br>
						</div>
					<ol class="breadcrumb">
						<li><a href="https://www.latindigital.io">Home</a></li>
						<li class="active">Portfolio</li>
					</ol>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>

		<center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->

<br>


<style> 


  @media only screen and (max-width: 600px) {

.page-title{
  display:none;
}

.navbar-toggle {
    border-color: black;
    border-radius: 0;
    margin-top: 35px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}
}

body{background-color:#ffffff; overflow:hidden;}

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

.before-after {
	margin: 50px 0;
}
.before-after *{
	box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.before-after-wrapper{
	width: 850px;
	height: 500px;
	position: relative;
	margin: 0 auto;
	overflow:hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	max-width: 96vw;
	max-height: 96vw;
}

/* Our image information */
.before-after-before,
.before-after-after {
	position: absolute;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-color: white;
	background-size: cover;
	background-position: center;
	top:0;
	left:0;
	pointer-events:none;
	overflow: hidden;
}

.before-after-content-image{
	height:100%;
}

.before-after-after{
	width:125px;
}

.before-after-scroller{
	width: 50px;
	height:50px;
	position: absolute;
	left:100px;
	top:50%;
	transform:translateY(-50%);
	border-radius:50%;
	background-color: transparent;
	opacity:0.9;
	pointer-events:auto;
	cursor: pointer;
}

.before-after-scroller:hover{
	opacity:1;
}

.before-after-scrolling{
	pointer-events:none;
	opacity:1;
	// z-index: 1;
}

.before-after-scroller__thumb{
	width:100%;
	height:100%;
	padding:5px;
}

.before-after-scroller:before,
.before-after-scroller:after{
	content:" ";
	display: block;
	width: 7px;
	height: 9999px;
	position: absolute;
	left: 50%;
	margin-left: -3.5px;
	z-index: 30;
	transition:0.1s;
}
.before-after-scroller:before, .before-after-scroller:after {
	/* border: 0px solid #666; */
	/* border-width: 0px 1px; */
}
.before-after-scroller:before{
	top:100%;
}
.before-after-scroller:after{
	bottom:100%;
}

/* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
.before-after-scroller{
	/* border: 5px solid #fff; */
	background: #fff;
}
.before-after-scroller:before,
.before-after-scroller:after{
	background: #fff;
}
.before-after .before-after-scroller, .before-after .before-after-scroller:before, .before-after .before-after-scroller:after {
	transition: background-color 0.5s linear;
}
.before-after.is-new .before-after-scroller, .before-after.is-new .before-after-scroller:before, .before-after.is-new .before-after-scroller:after {
	background: #086e4b;
}
.before-after .before-after-scroller__thumb {
	transition: width 0.5s linear, height 0.5s linear, margin 0.5s linear;
}
.before-after.is-new .before-after-scroller__thumb {
	width: 200%;
	height: 110%;
	margin-left: -50%;
	margin-top: -5%;
}
</style>
<script type="text/javascript">
function beforeAfterCheck(inside) {
	// https://codepen.io/nosurprisethere/pen/xrXjYV
	Array.from((inside||document).querySelectorAll('.before-after')).forEach(function(container) {
		beforeAfterCheck_once(container);
	});
}
function beforeAfterCheck_once(container) {
	// https://codepen.io/nosurprisethere/pen/xrXjYV
	if (!beforeAfterCheck_once._container) beforeAfterCheck_once._container = [];
	if (beforeAfterCheck_once._container.indexOf(container)>-1) return;
	beforeAfterCheck_once._container.push(container);
	console.log(container);
	var active = false;
	setTimeout(function() {
		if (active) return;
		if (container) container.classList.add('is-new');
	}, 1*1000);
	setTimeout(function() {
		if (container) container.classList.remove('is-new');
	}, 3*1000);
	var scroller = container.querySelector('.before-after-scroller');
	scroller.addEventListener('mousedown',function(){
		if (!scroller) return;
		active = true;
		// Add our scrolling class so the scroller has full opacity while active
		scroller.classList.add('scrolling');
	});
	document.body.addEventListener('mouseup',function(){
		if (!scroller) return;
		active = false;
		scroller.classList.remove('scrolling');
	});
	document.body.addEventListener('mouseleave',function(){ // khm)
		if (!scroller) return;
		active = false;
		scroller.classList.remove('scrolling');
	});
	document.body.addEventListener('mousemove',function(e){
		if (!scroller) return;
		if (!active) return;
		// Their mouse is here...
		let x = e.pageX;
		// but we want it relative to our wrapper
		x -= container.querySelector('.before-after-wrapper').getBoundingClientRect().left;
		// Okay let's change our state
		scrollIt(x);
	});
	function scrollIt(x){
		let transform = Math.max(0,(Math.min(x,container.querySelector('.before-after-wrapper').offsetWidth)));
		container.querySelector('.before-after-after').style.width = transform+"px";
		container.querySelector('.before-after-scroller').style.left = transform-25+"px";
	}
	scroller.addEventListener('touchstart',function(){
		if (!scroller) return;
		active = true;
		scroller.classList.add('scrolling');
	}, {passive: true});
	document.body.addEventListener('touchend',function(e){
		if (!scroller) return;
		active = false;
		scroller.classList.remove('scrolling');
		e.preventDefault();
	}, {passive: false});
	document.body.addEventListener('touchcancel',function(){
		if (!scroller) return;
		active = false;
		scroller.classList.remove('scrolling');
	});
	document.body.addEventListener('touchmove',function(e){
		if (!scroller) return;
		if (!active) return;
		e.preventDefault();
	}, {passive: false});
	document.body.addEventListener('touchmove',function(e){
		if (!scroller) return;
		if (!active) return;
		// Their mouse is here...
		let x = ((e.changedTouches||e.touches)[0]||{}).pageX;
		if (!x) return;
		// but we want it relative to our wrapper
		x -= container.querySelector('.before-after-wrapper').getBoundingClientRect().left;
		// Okay let's change our state
		scrollIt(x);
	});
	scrollIt(150);
}
beforeAfterCheck();
</script>


<br>
<br>
<br>
<br>

        <div class="heading heading-2 mb-50 text--center">
          <p class="heading--subtitle">Check out </p>
          <h2 class="heading--title heding--center">Some of Our Digital Transformations</h2>
          <div class="divider--line divider--center"></div>
          <Br>
          <br>
          
           <p class="heading--subtitle">Make sure to click the + sign to see before and after transformations</p>
        </div>

	<!-- Portfolio 3 Column
============================================= -->
<section id="portfolio" class="portfolio portfolio-grid portfolio-3col pt-70 bg-white">
	<div class="container">
		<div class="row">
			<!-- Portfolio Filter
			============================================= -->
			<div class="col-xs-12 col-sm-12 col-md-12 portfolio-filter">
				<ul class="list-inline mb-0">
					<li><a class="active-filter" href="javascript:void();" data-filter="*">All</a></li>
					<li><a href="javascript:void();" data-filter=".filter-custom">Custom</a></li>
					<li><a href="javascript:void();" data-filter=".filter-E-commerce">E-commerce</a></li>
					<li><a href="javascript:void();" data-filter=".filter-static">Static</a></li>
					<li><a href="javascript:void();" data-filter=".filter-wordpress">Wordpress</a></li>
				</ul>
			</div>
			<!-- .Portfolio-filter end -->
		</div>
		<div id="portfolio-all">
			<!-- Portfolio #1 -->

			<!-- Portfolio #2 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-custom">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/1.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/after-clearesult.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/before-clearesult.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.clearesult.com/">Clearesult</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Custom</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-custom" >
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/2.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
								<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/after-strata.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/before-strata.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>
									</div>
									<div class="portfolio--title">
										<h4><a href="https://www.stratatrust.com/">Stratatrust</a></h4>

								</div>
								<div class="portfolio--cat">
									<a href="#">Custom</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->


			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-custom">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/3.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/before-springbox.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/after-springbox.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.springbox.com/">Springbox</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#https://www.springbox.com/">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->


			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-E-commerce filter-wordpress">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/4.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/before-zephy.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/after-zephy.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.zephyrhillswater.com/">Zephyrhills</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="https://www.zephyrhillswater.com/">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->


			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-E-commerce filter-wordpress">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/5.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/before-polandspring.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/after-polandspring.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.polandspring.com/">Poland Springs</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="https://www.polandspring.com/">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->


			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-E-commerce filter-wordpress">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/6.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/before-arrowhead.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/after-arrowhead.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.arrowheadwater.com/">Arrowhead Water</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="https://www.arrowheadwater.com/">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->


			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/7.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/before-dhms.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/after-dhms.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.usdentalsolutions.com/">DHMS</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="https://www.usdentalsolutions.com/">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-wordpress">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/8.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/before-sweet.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/after-sweet.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.sweetleaftea.com/">Sweet Leaf</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="https://www.sweetleaftea.com/">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->


			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-wordpress">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/9.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<span
										class="img-gallery-item" data-title="Portfolio Item"
										data-before-after-before="{{ "/assets/images/portfolio/before-after/before-madison.jpg" | relative_url }}"
										data-before-after-after="{{ "/assets/images/portfolio/before-after/after-madison.jpg" | relative_url }}"
									><span class="img-gallery-item-expand-text"></span></span>

									</div>
									<div class="portfolio--title">Madison Inc</a></h4>
										<h4><a href="http://www.madison.net/">Sweet Leaf</a></h4>
								</div>
								<div class="portfolio--cat">
							<a href="http://www.madison.net/">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->



            <!-- Jekyll loop for assets\images\portfolio\grid\3col -->
            {% for image in site.data.portfolio.images %}

            <!-- Portfolio #xx -->
          <!--   <div class="hiddenItem col-xs-12 col-sm-6 col-md-4 portfolio-item{% if image.filters.size > 1 %}{% for filter in image.filters %} {{ filter | rstrip }}{% endfor %}{% else %} {{ image.filters }}{% endif %}">
                <div class="portfolio--img">
                    <img src="{{ "assets/images/portfolio/grid/3col/more/" | relative_url }}{{ image.filename }}" alt="Portfolio Item">
                    <div class="portfolio--hover">
                        <div class="portfolio--action">
                            <div class="pos-vertical-center">
                                <div class="portfolio--zoom">
                                    <a class="img-gallery-item" href="{{ "assets/images/portfolio/grid/3col/more/"| relative_url }}{{ image.filename }}" title="{{ image.title }}"></a>

                                </div>
                                <div class="portfolio--title">
                                    <h4><a href="#">{{ image.title }}</a></h4>
                                </div>
                                <div class="portfolio--cat">{% for categor in image.cat  %}<a href="#">{{ categor }}</a>{% if forloop.last == false %},{% endif %}{% endfor %}</div>

                            </div>
                        </div>

                    </div>

                </div>

            </div> -->
            <!-- . portfolio-item end -->
            {% endfor %}
        </div>
    </div>

    <!-- .container end -->
</section>
<!-- #portfolio end -->
<!-- <div class="row" id="btn-more">
    <div class="col-xs-12 col-sm-12 col-md-12 text--center mt-30">
        <a class="btn btn--secondary btn--bordered btn-more" href=""><span></span>Load More</a>
    </div>
</div> -->

<section id="clients" class="clients clients-carousel bg-white">

	        <div class="heading heading-2 mb-50 text--center">
          <p class="heading--subtitle">Here are some of</p>
          <h2 class="heading--title heding--center">Our top Technology Choices</h2>
          <div class="divider--line divider--center"></div>
        </div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="carousel carousel-dots" data-slide="6" data-slide-rs="2" data-autoplay="true" data-nav="false" data-dots="false" data-space="30" data-loop="true" data-speed="3000">
			<!-- Client #1 -->
				<div class="client">
					<img class="center-block" src="assets/images/clients/1.jpg" alt="client">
				</div>

			<!-- Client #2 -->
				<div class="client">
					<img class="center-block" src="assets/images/clients/2.jpg" alt="client">
				</div>
			
			<!-- Client #3 -->
				<div class="client">
					<img class="center-block" src="assets/images/clients/3.jpg" alt="client">
				</div>
			
			<!-- Client #4 -->
				<div class="client">
					<img class="center-block" src="assets/images/clients/4.jpg" alt="client">
				</div>
			
			<!-- Client #5 -->
				<div class="client">
					<img class="center-block" src="assets/images/clients/5.jpg" alt="client">
				</div>
			
			<!-- Client #6 -->
				<div class="client">
					<img class="center-block" src="assets/images/clients/6.jpg" alt="client">
				</div>
				</div>
			</div><!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #clients end -->
