
<!-- Page Title #5  -->

<section id="page-title" class="page-title bg-overlay bg-overlay-dark3">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/Working-Space/snapshots/Working-Space.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/Working-Space/snapshots/Working-Space.jpg" | relative_url }}">
              </video>
			  <script type="text/javascript">
			  document.addEventListener("DOMContentLoaded", function() {
			  	setTimeout(function(){
			  		document.querySelector('#page-title video').innerHTML = `
			  			<source src="{{ "/assets/Working-Space/MP4/Working-Space.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
			  			<source src="{{ "/assets/Working-Space/WEBM/Working-Space.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			  		`;
			  	}, 10*1000);
			  });
			  </script>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Agency Portfolio</h1>
						</div>
						<div class="title--desc">
							<p>In here you will find projects that I've been part of during my journey as a Web Developer. Some of these would not be possible without the hard work and contribution of many other Designers, Programmers and Program Managers. </p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->











	<!-- Portfolio 3 Column
============================================= -->
<section id="portfolio" class="portfolio portfolio-grid portfolio-3col pt-70 bg-white">
	<div class="container">
		<div class="row">
			<!-- Portfolio Filter
			============================================= -->
			<div class="col-xs-12 col-sm-12 col-md-12 portfolio-filter">
				<ul class="list-inline mb-0">
					<li><a class="active-filter" href="#" data-filter="*">All</a></li>
					<li><a href="#" data-filter=".filter-branding">Campaign</a></li>
					<li><a href="#" data-filter=".filter-packaging">Product</a></li>
					<li><a href="#" data-filter=".filter-print">Full Stack</a></li>
					<li><a href="#" data-filter=".filter-web">Web Development</a></li>
				</ul>
			</div>
			<!-- .Portfolio-filter end -->
		</div>
		<div id="portfolio-all">
			<!-- Portfolio #1 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/1.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
								<a class="img-gallery-item" href="assets/images/portfolio/full/1.jpg" title="Portfolio Item"></a>

								</div>
								<div class="portfolio--title">
									<h4><a href="https://www.clearesult.com/"> Clear Result</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #2 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/2.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/2.jpg" title="Portfolio Item"></a>

									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.stratatrust.com/">Strata</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #3 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-web filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/3.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/3.jpg" title="One of the most ambitious projects I got to be part of was the redesign of Springbox's client website. It required to collaborative effort of all departments within the agency, UX, UI, Analytics, Creative and Development, and a bold approach as to how we wanted to be perceived. The end result was a master piece full stack application built with jekyll and node.js that is today's standard of excellence in Austin Texas.">
									</a>
									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.springbox.com/">Springbox</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Web Development</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

						<!-- Portfolio #4 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/4.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/4.jpg" title="Portfolio Item"></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.zephyrhillswater.com/home">Zephirhills</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #5 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/5.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
										<a class="img-gallery-item" href="assets/images/portfolio/full/5.jpg" title="While working for Springbox Digital Partners I had the opportunity to work on a variety of web applications ranging from clients like Nestle and Tradewinds to Springbox itself. Mainly focused on the front-end working with Javascript, jQuery, Bootstrap, SCSS and also using dependency managers like Gulp, Grunt and Docker container technology for local development. "></a>
										</div>
										<div class="portfolio--title">
									<h4><a href="https://www.polandspring.com/">Poland Springs</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #6 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/6.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
																	<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/6.jpg" title="Portfolio Item"></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="https://www.arrowheadwater.com/">Arrowhead</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #7 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/7.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/7.jpg" title="DHMS is one of the leading Military Dental Care Provider in the nation. The DHMS team reached out for a web portal redesign that would better communicate to their customers their Solutions Portfolio. The website redesign was built using Jekyll, an exciting new CMS technology, Sass for styling and AWS for server side management. "></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">US Dental Solutions</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #8 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/8.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
                                    <a class="img-gallery-item" href="assets/images/portfolio/full/8.jpg" title="Portfolio Item"></a>
                                </div>
                                <div class="portfolio--title">
									<h4><a href="#">Sweet Leaf Tea</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #9 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/9.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
                                    <a class="img-gallery-item" href="assets/images/portfolio/full/9.jpg" title="Portfolio Item"></a>
                                </div>
                                <div class="portfolio--title">
									<h4><a href="https://madison.net/">Madison Industries</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #10 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/10.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/10.jpg" title="As a requirement for a core digital media class at UT Austin, myself and a group of advertising and PR students created a marketing brief with suggestions for the expansion of a popular organic Mexican food joint in Austin TX. The case implied a potential new branch of Taco Deli in Portland Oregon and a thorough assessment of the best options for targeting the Portland market."></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">Taco Deli</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

			<!-- Portfolio #11 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/11.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/11.jpg" title="Mellow Johnny's isone of Austin's favorite venues for bikers. Located Down Town it provides a wide range of services to bike enthusiasts from locker rooms to  bike repair and maintenance. My team and I were tasked to create a year long digital ad strategy for attracting customers from different Travis county regions."></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">Mellow Johnny's</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

						<!-- Portfolio #12 -->
			<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item filter-branding">
				<div class="portfolio--img">
					<img src="assets/images/portfolio/grid/3col/12.jpg" alt="Portfolio Item">
					<div class="portfolio--hover">
						<div class="portfolio--action">
							<div class="pos-vertical-center">
								<div class="portfolio--zoom">
									<a class="img-gallery-item" href="assets/images/portfolio/full/12.jpg" title="A local startup in Austin called Healthy Dog Gourmet is trying to increase sales through digital presence. Me and a team of ad majors created a comprehensive marketing strategy that would allow for the new brand of organic dog food to reach out to consumers in a cost effective manner through social media, event sponsorship and SEO"></a>
									</div>
									<div class="portfolio--title">
									<h4><a href="#">Healthy Dog Gourmet</a></h4>
								</div>
								<div class="portfolio--cat">
									<a href="#">Branding</a>
								</div>
							</div>
						</div><!-- .Portfolio-action end -->
					</div><!-- .Portfolio-hover end -->
				</div><!-- .Portfolio-img end -->
			</div><!-- . portfolio-item end -->

            <!-- Jekyll loop for assets\images\portfolio\grid\3col -->
            {% for image in site.data.portfolio.images %}

            <!-- Portfolio #xx -->
          <!--   <div class="hiddenItem col-xs-12 col-sm-6 col-md-4 portfolio-item{% if image.filters.size > 1 %}{% for filter in image.filters %} {{ filter | rstrip }}{% endfor %}{% else %} {{ image.filters }}{% endif %}">
                <div class="portfolio--img">
                    <img src="{{ "assets/images/portfolio/grid/3col/more/" | relative_url }}{{ image.filename }}" alt="Portfolio Item">
                    <div class="portfolio--hover">
                        <div class="portfolio--action">
                            <div class="pos-vertical-center">
                                <div class="portfolio--zoom">
                                    <a class="img-gallery-item" href="{{ "assets/images/portfolio/grid/3col/more/"| relative_url }}{{ image.filename }}" title="{{ image.title }}"></a>

                                </div>
                                <div class="portfolio--title">
                                    <h4><a href="#">{{ image.title }}</a></h4>
                                </div>
                                <div class="portfolio--cat">{% for categor in image.cat  %}<a href="#">{{ categor }}</a>{% if forloop.last == false %},{% endif %}{% endfor %}</div>

                            </div>
                        </div>

                    </div>

                </div>

            </div> -->
            <!-- . portfolio-item end -->
            {% endfor %}
        </div>
    </div>

    <!-- .container end -->
</section>
<!-- #portfolio end -->
<div class="row" id="btn-more">
    <div class="col-xs-12 col-sm-12 col-md-12 text--center mt-30">
        <a class="btn btn--secondary btn--bordered btn-more" href=""><span></span>Load More</a>
    </div>
</div>
