


<section id="page-title" class="page-title bg-overlay bg-overlay-dark3">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/Very-Open-Space/Snapshots/Very-Open-Space.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/Very-Open-Space/Snapshots/Very-Open-Space.jpg" | relative_url }}">
                  <source src="{{ "/assets/Very-Open-Space/MP4/Very-Open-Space.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                  <source src="{{ "/assets/Very-Open-Space/WEBM/Very-Open-Space.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Privacy Policy</h1>
						</div>
						<div class="title--desc">
							<p> This privacy notice discloses the privacy practices for (website address). This privacy notice applies solely to information collected by this website. 
							</p>
							<br>
							<br>
							<br>
						</div>
					<ol class="breadcrumb">
						<li><a href="https://www.latindigital.io">Home</a></li>
						<li class="active">Team</li>
					</ol>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>

			<center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->

<!--404
=============================================-->
<section class="page-404 text-center bg-white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="clearfix"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="divider--line divider--center divider--medium mb-30"></div>
				<div class="clearfix"></div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading heading-2 text-center mb-50">
					<p class="heading--subtitle">These are our</p>
					<h2 class="heading--title">Privacy Practices</h2>
					<div class="divider--line divider--center"></div>
				</div><!-- .heading end -->
			</div><!-- .col-md-12 end -->

				<p style="text-align:justify;text-justify=inter-word;" class="heading--subtitle">It will notify you of the following:

What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.
What choices are available to you regarding the use of your data.
The security procedures in place to protect the misuse of your information.
How you can correct any inaccuracies in the information.
Information Collection, Use, and Sharing 

<br>
We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.
<br>
We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.
<br>
Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.
<br>
Your Access to and Control Over Information 
You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
<br>
See what data we have about you, if any.
Change/correct any data we have about you.
Have us delete any data we have about you.
Express any concern you have about our use of your data.
Security 
We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
<br>
Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.
<bR>
While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.

If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone at 5126439273 or via email at sales@latindigital.io.</p>
<br>
<br>
<br>
				<a class="btn btn--secondary btn--bordered" href="https://www.latindigital.io">Homepage</a>
			</div>
		</div><!-- .row end -->
	</div><!-- .cotainer end -->
</section><!-- .page-404 end -->

<style>

  @media only screen and (max-width: 600px) {

.page-title{
  display:none;
}

.navbar-toggle {
    border-color: black;
    border-radius: 0;
    margin-top: 35px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}
}

</style>