<body class="body-split">


  <ul class="nav-split">
    <li class="active">
      <a data-scroll="scrollTo" href="#cover8">banner 1</a>
    </li>
    <li>
      <a data-scroll="scrollTo" href="#cover7">banner 2</a>
    </li>
    <li>
      <a data-scroll="scrollTo" href="#cover6">banner 3</a>
    </li>
    <li>
      <a data-scroll="scrollTo" href="#cover5">banner 4</a>
    </li>
    <li>
      <a data-scroll="scrollTo" href="#cover4">banner 5</a>
    </li>
    <li>
      <a data-scroll="scrollTo" href="#cover3">banner 5</a>
    </li>
    <li>
      <a data-scroll="scrollTo" href="#cover2">banner 5</a>
    </li>
    <li>
      <a data-scroll="scrollTo" href="#cover1">banner 5</a>
    </li>
  </ul>
  <!-- Document Wrapper
  ============================================= -->


<section id="cover8" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">
      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/7.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->
      <center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100">Your Digital Blueprint
        </h3>
        <p> Our process starts out with the discovery phase, this is our chance to analyze your business, your problems and your customers. At the conclusion of Discovery, we know exactly what problems we are trying to solve and a strategy plan outlining our recommended solutions which we call the “Digital Blueprint”. 
         </p>
        <center><a class="btn btn--primary" href="https://www.latindigital.io/questionnaire">Get Blueprint </a></center>
        
      </div>
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #cover5 end -->

<section id="cover7" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">
      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100">Proposal
        </h3>
        <p> After identifying the deliverables for the project we will provide you with a budget estimate as well as a timeline with milestones for completion. A scope of work will have to be approved by our internal team in order to move along the process so that all stakeholders have agreed on the action items. Lastly a contract will be drafted and signed and we will use initiate work after an Escrow has been paid in advance. 
         </p>
        <center><a class="btn btn--primary" href="https://www.latindigital.io/contact-page.html">Get Custom Proposal</a></center>
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/14.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>


<section id="cover6" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">


     <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/16.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100">Project Management
        </h3>
        <p> Our Development and Design team works with AGILE and SCRUM methodologies to provide a smooth development process. In order to implement efficient project management we also use a variety of tools to stay on top of development including Jira, Sourcetree and Github to manage version control and feature development.
         </p>
<!--         <center><a class="btn btn--primary" href="#">Read More</a></center> -->
        
      </div>

 
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #cover5 end -->

<section id="cover5" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">
      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100">User Experience Design
        </h3>
        <p> Before a single line of code is written we conduct extensive research on the right user experience for your project. Without a seamless and intuitive flow between the users and applications you end up with frustrated visitors and low conversion rates. What does it take to get your clients to click the buy button the fastest? 
         </p>
<!--         <center><a class="btn btn--primary" href="#">Read More</a></center> -->
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/9.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->

    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>
<!-- #cover5 end -->

<section id="cover4" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">

      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/8.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->

      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100">Environment Setup 
        </h3>
        <p> In order to begin development our team needs to reach concensus on the technology we will use for the project, while project management stays the same across the board frameworks and languages need to adapt to the task at hand. At this stage in the process we determine the front end and back end components that will be used to develop the site as well as the server resources we will be implementing. 
         </p>
<!--         <center><a class="btn btn--primary" href="#">Read More</a></center> -->
        
      </div>


    </div>
    <!-- .row end -->
  </div>
</section>

<section  id="cover3" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">

      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100">Benchmarking
        </h3>
        <p> Benchmarking is at the core of any successful development project. Our use of Google lighthouse to guide developments allows us to build sites that comply with Google's most important ranking variables such as Best Practices, Accessibility and Performance.
         </p>
<!--         <center><a class="btn btn--primary" href="#">Read More</a></center> -->
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/12.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>


<section id="cover2" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">

      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/11.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->

      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100"> QA Testing
        </h3>
        <p> No development process is flawless, this is why we encourage QA testing at all stages of development so that any bugs or vulnerabilities are caught ahead of time. Here is where we make sure applications work across all browsers and all devices as well as identify and address potential vulnerabilities before we launch the site. 
         </p>
 <!--        <center><a class="btn btn--primary" href="#">Read More</a></center> -->
        
      </div>
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>


<section  id="cover1" class="section cover-5 mtop-100 pt-0 pb-0">
  <div class="container-fluid">
    <div class="row comm-height">
      <div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
        <h3 class="mt-100">Launch and Maintenance
        </h3>
        <p> Latin Digital provides customer support throughout the entire development process and will guarantee a smooth transition of the site to your designated hosting provider. We also offer maintenance packages in order to update or add new features to the porject once we have gone live. 
         </p>
<!--         <center><a class="btn btn--primary" href="#">Read More</a></center> -->
        
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
        <div class="bg-overlay">
          <div class="bg-section">
            <img src="assets/images/banners/17.jpg" alt="Background"/>
          </div>
        </div>
      </div><!-- .col-md-6 end-->
    </div>
    <!-- .row end -->
  </div>
  <!-- .container end -->
</section>


</body>




<style>
@media only screen and (max-width: 1000px) {

.bg-overlay .bg-section {
  display:none;
}
}




</style>