<style>
	
.accordion .panel .panel--heading a.collapsed {
    color: #ffffff;
}

.accordion .panel--heading .accordion-toggle.collapsed:after {
    content: "\f067";
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.accordion .panel .panel--body {
    padding: 0 0 28px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}



</style>

<section id="cta5" class="cta cta-4 bg-overlay bg-overlay-theme2 text--center bg-green">
	<!--div class="bg-section">
			<img src="assets/images/cta/cta-1.jpg" alt="Background"/>
	</div-->
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<h3>Build Your Own Website Now!</h3>
				<p>Our strategists will help you choose a plan that is custom for you.</p>
				<a class="btn btn--white" href="#">Get Free Quote</a>
			</div><!-- .col-md-6 end -->

<div class="col-xs-6 col-sm-6 col-md-6">

				<div class="accordion accordion-3" id="accordion03">
					<!-- Panel 01 -->
					<div class="panel">
						<div class="panel--heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion03" href="#collapse03-1">Lightning Speed</a>
						</div>
						<div id="collapse03-1" class="panel--body panel-collapse collapse in">
							Our proprietary combination of server technology paired with cdn use allows for the highest performance scores on Google.
						</div>
					</div>
					
					<!-- Panel 01 -->
					<div class="panel">
						<div class="panel--heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion03" href="#collapse03-2">Free Hosting</a>
						</div>
						<div id="collapse03-2" class="panel--body panel-collapse collapse">
							Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create a better user experience. Rounding up a bunch of specific designs.Trends, vision dominates a lot of our subconscious interpretation of the world around us. 
						</div>
					</div>
					
					<!-- Panel 03 -->
					<div class="panel">
						<div class="panel--heading">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion03" href="#collapse03-3">Unhackeable</a>
						</div>
						<div id="collapse03-3" class="panel--body panel-collapse collapse">
							Trends, vision dominates a lot of our subconscious interpretation of the world around us. On top it, pleasing images create a better user experience. Rounding up a bunch of specific designs.Trends, vision dominates a lot of our subconscious interpretation of the world around us. 
						</div>
					</div>
					
				</div>


</div>
			
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #cta5 end -->
