<section id="cta5" class="cta cta-4 bg-overlay bg-overlay-theme2 text--center bg-green">
	<!--div class="bg-section">
			<img src="assets/images/cta/cta-1.jpg" alt="Background"/>
	</div-->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h3>Build Your Own Website Now!</h3>
				<p>Our strategists will help you choose a plan that is custom for you.</p>
				<a class="btn btn--white" href="#">Purchase Now</a>
			</div><!-- .col-md-6 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #cta5 end -->
