
My workspace
Latin Digital
Latin Digital 
CREATE
CONNECT
SHARE
RESULTS

View

Upgrade
Embed in a web page
Standard
Full page
Popup
Great for loading a typeform on your web page anywhere you want
100
500

Get the code
Grab your embed code
Place the code in your page's HTML where you want your typeform to appear.

<div class="typeform-widget" data-url="https://alejandrodiez.typeform.com/to/G3R0O7" style="width: 100%; height: 700px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=G3R0O7&utm_source=typeform.com-01DKD4ZAS7REGB9NCM1RJ5X8FS-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

Cancel

Copy code
Find out more in our Help Center.

