<section id="page-title" class="page-title bg-overlay bg-overlay-dark">
	<div class="bg-section" >
		<img src="assets/images/page-title/title-11.jpg" alt="Background"/>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Coming Soon</h1>
						</div>
						<div class="title--desc">
							<p>Currently Working on this page, thanks for the interest <br></p>
						</div>
					</div>
					<div class="clearfix"></div>
					<ol class="breadcrumb">
						<li><a href="index-2.html">Home</a></li>
						<li class="active">Soon</li>
					</ol>
				</div><!-- .title end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section><!-- #page-title end -->

<!-- Soon
============================================= -->
<section class="page-soon bg-white">
	<div class="container">
		<div class="row clearfix">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
				<div class="text--center">
					<h3>Currently Working on this Page</h3>
					<div class="divider--line divider--center divider--medium mb-30"></div>
					<p class="heading--desc">Currently Working on this Page, thanks for the interest<br></p>
				</div><!-- .heading-10 end -->
			</div><!-- .col-md-8 end -->
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12  col-md-12">
				<div class="countdown countdown-dark" data-count-date="2018, 7, 28"></div>
			</div><!-- .col-md-12 end -->
		</div>
	</div>
</section>
