<style>
	body .header {
		background: white;
		border-bottom: 1px solid rgba(255,255,255,.15);
	    -ms-box-shadow: 0 1px 3px rgba(0,0,0,.09);
	    box-shadow: 0 1px 3px rgba(0,0,0,.09);
	}
	body .navbar-nav>li>a,
	body .header .module-icon i {
		color: #222;
	}
	body .navbar-nav>li>a:hover, body .navbar-nav>li>a:focus, body .navbar-nav>li>a:active,
	body .header .module-icon:hover i, body .header .module-icon:focus i, body .header .module-icon:active i
	{
		color: #086e4b;
	}

</style>

<section id="cover5" class="section cover-5 mtop-100 pt-0 pb-0">
	<div class="container-fluid">
		<div class="row comm-height">
			<div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
				<div class="bg-overlay">
					<div class="bg-section">
						<img src="assets/images/banners/6.jpg" alt="Background"/>
					</div>
				</div>
			</div><!-- .col-md-6 end-->
			<div class="col-xs-12 col-sm-12 col-md-6 col-content pl-100 pt-100">
				<h3 class="mt-100">Start Your Business Now!</h3>
				<p>League is not just about graphic design; it's more than that. We offer integral communication services, and we're responsible for our process and results. We thank each client and their projects; thanks to them we have grown and built what we are today!</p>
				<a class="btn btn--primary" href="#">Read More</a>

			</div>
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #cover5 end -->

<!-- Cover #4
============================================= -->
<section id="cover4" class="section cover-4 pt-0 pb-0">
	<div class="container-fluid">
		<div class="row comm-height">
			<div class="col-xs-12 col-sm-12 col-md-6 col-content feature feature-left feature-left-circle feature-7 pl-100 pt-100">
				<!-- Panel #1 -->
				<div class="feature-panel mb-60 mt-40">
					<div class="feature--icon">
						<i class="lnr lnr-license"></i>
					</div>
					<div class="feature--content">
						<h6>We are helpers</h6>
						<h3>Advice and guides</h3>
						<p>After all, as described in Web Design Trends 2015 & 2016, vision dominates a lot of our subconscious interpretation of the world around us. On top of that.</p>
					</div>
				</div><!-- .feature-panel end -->

				<!-- Panel #2 -->
				<div class="feature-panel mb-60">
					<div class="feature--icon">
						<i class="lnr lnr-diamond"></i>
					</div>
					<div class="feature--content">
						<h6>Quick & smart</h6>
						<h3>Great Solutions</h3>
						<p>Rounding up a bunch of specific designs and talking about the merits of each is the perfect way. Collecting a wide array of samples and inspiration.</p>
					</div>
				</div><!-- .feature-panel end -->

				<!-- Panel #3 -->
				<div class="feature-panel">
					<div class="feature--icon">
						<i class="lnr lnr-users"></i>
					</div>
					<div class="feature--content">
						<h6>Friendly support</h6>
						<h3>Support in person</h3>
						<p>At its core, every brand has something special to reveal something that inspires people this plan if you plan to create a small portfolio or busines showcase.</p>
					</div>
				</div><!-- .feature-panel end -->
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
				<div class="bg-overlay">
					<div class="bg-section">
						<img src="assets/images/banners/7.jpg" alt="Background"/>
					</div>
				</div>
			</div><!-- .col-md-6 end-->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #cover4 end -->

<!-- Cover #3
============================================= -->
<section id="cover3" class="section cover-3 pt-0 pb-0">
	<div class="container-fluid">
		<div class="row comm-height">
			<div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
				<div class="bg-overlay">
					<div class="bg-section">
						<img src="assets/images/banners/8.jpg" alt="Background"/>
					</div>
				</div>
			</div><!-- .col-md-6 end-->
			<div class="col-xs-12 col-sm-12 col-md-6 col-content testimonial testimonial-wide testimonial-2 pl-100 pt-100">
				<div id="testimonial-wide" class="carousel carousel-dots mt-50" data-slide="1" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="0" data-loop="true" data-speed="800">
					<!-- Testimonial #1 -->
					<div class="testimonial-panel">
					<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->

						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/1.png" alt="Testimonial Author">
							</div>
							<h4>Mahmoud Baghagho</h4>
							<p>7oroof Agency</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->

					<!-- Testimonial #2 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->

						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/2.png" alt="Testimonial Author">
							</div>
							<h4>ayman fikry</h4>
							<p>zytheme</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->

					<!-- Testimonial #3 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->

						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/3.png" alt="Testimonial Author">
							</div>
							<h4>Fouad badawy</h4>
							<p>Tie Labs Inc</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->

					<!-- Testimonial #4 -->
					<div class="testimonial-panel">
						<div class="testimonial--icon"></div><!-- .testimonial-icon end -->
						<div class="testimonial--body">
							<p>My project was a simple & small task, but the persistence and determination of the team turned it into an awesome and great project which make me very happy!</p>
						</div><!-- .testimonial-body end -->
						<div class="testimonial--meta">
							<div class="testimonial--meta-img">
								<img src="assets/images/testimonial/4.png" alt="Testimonial Author">
							</div>
							<h4>Mostafa Mabrook</h4>
							<p>Code 125</p>
						</div><!-- .testimonial-meta end -->
					</div><!-- .testimonial-panel end -->
				</div>
			</div><!-- .col-md-6 end-->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #cover3 end -->

<!-- Cover #2
============================================= -->
<section id="cover2" class="section cover-2 pt-0 pb-0">
	<div class="container-fluid">
		<div class="row comm-height">
			<div class="col-xs-12 col-sm-12 col-md-6 col-content skills pl-100 pt-100">
				<div class="heading heading-8 mt-50 mb-50">
					<h2 class="heading--title">Awesome, Clean, <br>Poweful and Creative!</h2>
					<div class="divider--line m-0"></div>
					<p class="heading--desc">
						Rounding up a bunch of specific designs and talking about the merits of each is the perfect way to find common ground. Collecting a wide array of samples and inspiration is a great way to start your next awesome project.
					</p>
				</div><!-- .heading end -->
				<!-- progress 1 -->
				<div class="progressbar">
					<div class="progress-title">
						<span class="title">Marketing</span>
						<span class="value">95%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>
				<!-- .progressbar end -->

				<!-- progress 2 -->
				<div class="progressbar">
					<div class="progress-title">
						<span class="title">Development</span>
						<span class="value">87%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>
				<!-- .progressbar end -->

				<!-- progress 3 -->
				<div class="progressbar">
					<div class="progress-title">
						<span class="title">User Experience</span>
						<span class="value">81%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>
				<!-- .progressbar end -->

				<!-- progress 4 -->
				<div class="progressbar">
					<div class="progress-title">
						<span class="title">Branding</span>
						<span class="value">70%</span>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>
				<!-- .progressbar end -->
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 pr-0 pl-0">
				<div class="bg-overlay">
					<div class="bg-section">
						<img src="assets/images/banners/8.jpg" alt="Background"/>
					</div>
				</div>
			</div><!-- .col-md-6 end-->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #cover1 end -->
