<section id="team2" class="team team-boxed team-2 pb-0">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading heading-2 text-center mb-50">
					<p class="heading--subtitle">Our Creatives</p>
					<h2 class="heading--title">Meet The Team</h2>
					<div class="divider--line divider--center"></div>
				</div><!-- .heading end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
	<div class="container-fluid pr-0 pl-0">
		<div class="row">
			<!-- Member #1 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/1.jpg" alt="member"/>
					</div><!-- .member-img end -->
					<div class="member-info">
						<h5>Ahmed Abd Alhaleem</h5>
						<h6>Graphic Designer</h6>
						<div class="member-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
					</div><!-- .member-info end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
			
			<!-- Member #2 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/2.jpg" alt="member"/>
					</div><!-- .member-img end -->
					<div class="member-info">
						<h5>Ahmed Hassan</h5>
						<h6>Web Developer</h6>
						<div class="member-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
					</div><!-- .member-info end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
			
			<!-- Member #3 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/3.jpg" alt="member"/>
					</div><!-- .member-img end -->
					<div class="member-info">
						<h5>Mohamed Habaza</h5>
						<h6>Lead Dev Ops</h6>
						<div class="member-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
					</div><!-- .member-info end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
			
			<!-- Member #4 -->
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="member">
					<div class="member-img">
						<img src="assets/images/team/full/4.jpg" alt="member"/>
					</div><!-- .member-img end -->
					<div class="member-info">
						<h5>Amr Gamal Sadeq</h5>
						<h6>Design Expert</h6>
						<div class="member-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</div>
					</div><!-- .member-info end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
		</div>
	</div>
</section><!-- #team2 end  -->