


<section id="page-title" class="page-title bg-overlay bg-overlay-dark3">
              <div class="element-with-video-bg jquery-background-video-wrapper" style="background-image: url({{ "/assets/Spacious/Snapshots/Spacious.jpg" | relative_url}});"></div>
              <video data-bgvideo="true" autoplay loop muted class="my-background-video jquery-background-video" poster="{{ "/assets/Spacious/Snapshots/Spacious.jpg" | relative_url }}">
                  <source src="{{ "/assets/Spacious/MP4/Spacious.mp4" | relative_url }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                  <source src="{{ "/assets/Spacious/WEBM/Spacious.webm" | relative_url }}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
              </video>
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
				<div class="title title-2 text-center">
					<div class="title--content">
						<div class="title--heading">
							<h1>Meet the team</h1>
						</div>
						<div class="title--desc">
							<p> Our team's experience spans more than 20 years in the field of Web Development and UX Design.  
							</p>
							<br>
							<br>
							<br>
						</div>
					<ol class="breadcrumb">
						<li><a href="https://www.latindigital.io">Home</a></li>
						<li class="active">Team</li>
					</ol>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- .title end -->
			</div>
			<!-- .col-md-12 end -->
		</div>

			<center><a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a></center>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #page-title end -->

<section id="team1" class="team team-boxed team-shadow team-1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="heading heading-2 text-center mb-50">
					<p class="heading--subtitle">Our Creatives</p>
					<h2 class="heading--title">Meet The Team</h2>
					<div class="divider--line divider--center"></div>
				</div><!-- .heading end -->
			</div><!-- .col-md-12 end -->
		</div><!-- .row end -->
		<div class="row">
			<!-- Member #1 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="member mb-30">
					<div class="member-img">
						<img src="assets/images/team/grid/1.jpg" alt="member"/>
					</div><!-- .member-img end -->
					<div class="member-info">
						<h5>Alejandro Diez</h5>
						<h6>Web Developer</h6>
						<div class="member-social">
								<a href="https://twitter.com/JAlediez2408"><i class="fa fa-twitter"></i></a>
								<a href="https://www.linkedin.com/in/jalejandrodiez/"><i class="fa fa-linkedin"></i></a>
							</div>
					</div><!-- .member-info end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
			
			<!-- Member #2 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="member mb-30">
					<div class="member-img">
						<img src="assets/images/team/grid/2.jpg" alt="member"/>
					</div><!-- .member-img end -->
					<div class="member-info">
						<h5>Matt Jensen</h5>
						<h6>Lead Dev Ops</h6>
						<div class="member-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="https://www.linkedin.com/in/mattwjensen/"><i class="fa fa-linkedin"></i></a>
							</div>
					</div><!-- .member-info end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
			
			<!-- Member #3 -->
			<div class="col-xs-12 col-sm-4 col-md-4">
				<div class="member mb-30">
					<div class="member-img">
						<img src="assets/images/team/grid/3.jpg" alt="member"/>
					</div><!-- .member-img end -->
					<div class="member-info">
						<h5>Yure Suarez</h5>
						<h6>UX Designer</h6>
						<div class="member-social">
								<a href="https://twitter.com/yureislysuarez"><i class="fa fa-twitter"></i></a>
								<a href="https://www.linkedin.com/in/yureisly-suarez-32363625/"><i class="fa fa-linkedin"></i></a>
							</div>
					</div><!-- .member-info end -->
				</div><!-- .member end -->
			</div><!-- .col-md-3 end -->
		</div>
	</div>
</section><!-- #team1 end  -->

<!-- Counter #1
============================================= -->
<section id="counter1" class="counter bg-white">
	<div class="container">
		<div class="row">
			<!-- count #1 -->
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="count-box text-center">
					<div class="counting">538</div>
					<div class="count-title">Coffee Cups</div>
				</div>
			</div>
			<!-- .col-md-3 end -->
			
			<!-- count #2 -->
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="count-box text-center">
					<div class="counting">23</div>
					<div class="count-title">Clients</div>
				</div>
			</div>
			<!-- .col-md-3 end -->
			
			<!-- count #3 -->
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="count-box text-center">
					<div class="counting">56</div>
					<div class="count-title">Projects</div>
				</div>
			</div>
			<!-- .col-md-3 end -->
			
			<!-- count #4 -->
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="count-box text-center">
					<div class="counting">3</div>
					<div class="count-title">Awards</div>
				</div>
			</div>
			<!-- .col-md-3 end -->
			

		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>

<style> body{background-color:#ffffff; overflow:hidden;}

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}</style>
