<style>

html {
  font-size: 1.9em;
}
body {
  background-color: #fff;

}
/* Wrapper */
.icon-button {
  background-color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}





.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}
.tumblr span {
  background-color: #34526f;
}
.instagram span {
  background-color: #517fa4;
}
.youtube span {
  background-color: #bb0000;
}
.linkedin span {
  background-color: #0077b5;
}
.github span {
  background-color: #24292e;
}



.icon-button .fa-twitter {
  color: #4099ff;
}
.icon-button .fa-facebook {
  color: #3B5998;
}
.icon-button .fa-tumblr {
  color: #34526f;
}
.icon-button .fa-google-plus {
  color: #db5a3c;
}
.icon-button .fa-instagram {
  color: #517fa4;
}
.icon-button .fa-youtube {
  color: #bb0000;
}
.icon-button .fa-linkedin {
  color: #0077b5;
}


.icon-button .fa-github {
  color: #24292e;
}


.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-github
{
  color: white;
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
  body {

    padding: 10px;
  }
  .pinterest {
   display: none;
  }

}
  
  @media only screen and (max-width: 600px) {

.workflow {
  display:none;
}
}


.tabs .nav-tabs>li.active>a, .tabs .nav-tabs>li.active>a:focus, .tabs .nav-tabs>li.active>a:hover, .tabs .nav-tabs>li>a:focus, .tabs .nav-tabs>li>a:hover {
    color: #086E4B;
    background-color: transparent;
    border: none;
}
</style>

<section id="start-with" class="workflow">
	<div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <div class="heading heading-2 mb-50 text--center">
          <p class="heading--subtitle">Who we are?</p>
          <h1 class="heading--title heding--center">Your Technology Partner</h1>
          <div class="divider--line divider--center"></div>
        </div>
      </div><!-- .col-md-8 end -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="text-right mb-60">Latin Digital started out with the purpose to bridge the gap between Businesses and their Digital Blue Prints. Our core competency is building custom solutions and support using the latest technologies and frameworks in the industry. </p>
  
      </div><!-- .col-md-6 end -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="mb-60">In this site you can see our previous work as well as learn about our team, process and important topics in the field of web development and digital marketing. Reach out to us through the chatbot or contact form to learn more.</p>

      </div>
    </div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="tabs">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">

					<li class="active"><a href="#free-hosting"  data-toggle="tab">Free Hosting & SSL</a>
					</li>
					<li ><a href="#lighthouse"  data-toggle="tab">Lightning Speed</a>
					</li>

					<li><a href="#unhackable"  data-toggle="tab">Unhackeable </a>
					</li>
					<li><a href="#static" data-toggle="tab">Static CMS</a>
					</li>
				</ul>



				<!-- Tab panes -->
				<div class="tab-content">

					<div class="tab-pane fade in active" id="free-hosting">
							<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-6 pr-0">
								<div class="col-img">
									<div class="bg-section">
										<img src= "assets/images/workflow/7.jpg" alt="Background"/>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-6 pl-0">
								<div class="col-content bg-white">
									<h4>Never Pay Hosting Again</h4>
									<p>Our Static Website Development is powered by Github Pages and Jekyll. Github Pages is a static web-based hosting service that serves websites on a CDN making sites up to 10 times faster than legacy CMS. All Github pages instances also come with SSL certificate included that brings an extra level of security to our clients. </p>
									<a class="btn btn--primary mt-20" rel="noopener" rel="canonical" href= "https://pages.github.com/" target="_blank">Read More</a>
								</div>
							</div>
						</div><!-- .row end -->
					</div><!-- .tab-pane end -->
					<div class="tab-pane " id="lighthouse">
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-6 pr-0">
								<div class="col-img">
									<div class="bg-section">
										<img src= "assets/images/workflow/111.jpg" alt="Background"/>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-6 pl-0">
								<div class="col-content bg-white">
									<h4>Fast Loading Solutions</h4>
									<p> Our web development process follows strict Google Lighthouse criteria which allows us to build high performing sites that google indexes more efficiently. Google Lighthouse is an open-source tool for improving the quality of web pages. You can run it against any web page and run audits for performance, accessibility, seo, and more. We benchmark our development process using Google Lighthouse to guarantee top results.</p>
<!-- 									<a class="btn btn--primary mt-20" href="https://developers.google.com/web/tools/lighthouse/">Read More</a>
                  <br> -->
                  <a class="btn btn--primary mt-20" rel="noopener" rel="canonical" href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fwww.latindigital.io%2F&tab=desktop" target="_blank">Check Our Speed</a>
								</div>
							</div>
						</div><!-- .row end -->
					</div><!-- .tab-pane end -->

					<div class="tab-pane" id="unhackable">
							<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-6 pr-0">
								<div class="col-img">
									<div class="bg-section">
										<img src= "assets/images/workflow/5.jpg" alt="Background"/>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-6 pl-0">
								<div class="col-content bg-white">
									<h4>Impossible to Hack</h4>
									<p>There's no reason to have a massive CMS with a database when you are running a fast secure and beautiful static site. With a static site, you don’t have to worry about malicious code being injected into your site when users visit it. Static sites are built on a production machine by static site generators, which take your code and spit out flat HTML files with CSS and JavaScript. </p>
									<a class="btn btn--primary mt-20" rel="noopener" rel="canonical" href="https://learn.cloudcannon.com/jekyll/why-use-a-static-site-generator/" target="_blank" >Read More</a>
								</div>
							</div>
						</div><!-- .row end -->
					</div><!-- .tab-pane end -->
					<div class="tab-pane" id="static">
							<div class="row">
							<div class="col-xs-12 col-sm-5 col-md-6 pr-0">
								<div class="col-img">
									<div class="bg-section">
										<img src= "assets/images/workflow/8.jpg" alt="Background"/>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-7 col-md-6 pl-0">
								<div class="col-content bg-white">
									<h4>Static Content Management</h4>
									<p> A Static CMS allows us to provide our clients a user friendly admin interface to manage all their content. Forestry and Contentful are our top choices for providing a powerful content management experience for our clients SEO purposes.  </p>
									<a class="btn btn--primary mt-20" rel="noopener" rel="canonical" href="https://www.staticgen.com/" target="_blank">Read More</a>
								</div>
							</div>
						</div><!-- .row end -->
					</div><!-- .tab-pane end -->
				</div>
				</div><!-- .tabs end -->
			</div>
			<!-- .col-md-12 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section> <!-- #workflow end -->